.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  overflow-x: hidden;
  color: #6a5d5d;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.table::-webkit-scrollbar-track {
  background: whitesmoke; /* color of the tracking area */
}

.table::-webkit-scrollbar-thumb {
  background: color #333; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid white; /* creates padding around scroll thumb */
}
